/** reset de estilos, removendo margens e preenchimentos padrão, e definindo o box-sizing para border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* definição de variáveis CSS para as cores utilizadas no projeto */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5); 
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}


/* classe para o tema claro, alterando a variável de cor do texto para preto */
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}


/* estilização do body, definindo a imagem de fundo e suas propriedades */
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}


/* estilização de todos os elementos dentro do body */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}


/* profile */

/* estilização do container principal */
#container {
  width: 100%; 
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}


/* estilização do container de perfil */
#profile {
  text-align: center;
  padding: 24px;
}


/* estilização da imagem do perfil */
#profile img {
  width: 112px;
}


/* estilização do nome no perfil */
#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}


/* swithc */


/* estilização do container do switch, definindo uma borda vermelha para visualização durante o desenvolvimento */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}


/* estilização do container do switch */
#switch button{
   width: 32px;
   height: 32px;
   background: white var(--switch-bg-url) no-repeat center;
   border: 0;
   border-radius: 50px;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}



.light #switch button {
    right: 0;
    left: initial;
}



/* estilização do espaço onde o switch se move */
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}



/* estilização do container de links */
ul {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  padding: 24px 0;
}


/* estilização dos itens da lista */
ul li a {
  display: flex;
  align-items: center;
  justify-content: center; 
  
  padding: 16px 24px;
  
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
  text-decoration: none;
  font-weight: 500;
  
  transition: background 0.2s;
}


/* pseudo-selector - estilização dos itens da lista ao passar o mouse */
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}


/* estilização do container de links das redes sociais */
#social-links {
  display: flex;
  justify-content: center; 
 
  padding: 24px 0; 
  
  font-size: 24px; 
}


/*alinhamneto das bolinhas das redes sociais*/
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  
  transition: background 0.2s;
  border-radius: 50%;
}

/* estilização das bolinhas das redes sociais ao passar o mouse */
#social-links a:hover {
  background: var(--highlight-color);
}


/* estilização do rodapé */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}


/* media query para telas maiores, alterando a imagem de fundo para a versão desktop */
@media (min-width: 700px) {
   :root {
    --bg-url: url(./assets/bg-desktop.jpg)
   }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
   }
}